<section
	class="relative overflow-hidden bg-default-50">

	{# Backgroud image #}
	<div class="absolute inset-0 bg-primary-700">
		<img class="hidden object-cover w-full h-full opacity-40 lg:opacity-100 lg:block" src="{{ asset('build/images/room/lobby.jpg') }}" alt="">
	</div>

	<div class="relative max-w-screen-xl px-4 py-0 pt-32 mx-auto lg:pb-52 text-default-50 z-1">

		<div
			class="flex flex-col max-w-4xl mb-0 lg:mb-0">

			{# Title #}
			<h1 class="w-full mb-4 text-4xl font-extrabold leading-none tracking-tight font-title text-default-50 lg:text-primary-700 lg:w-3/4 lg:text-6xl">
				Mélanie Ehrmann Immobilier
			</h1>

			{# Description #}
			<div class="flex flex-col lg:mt-4 lg:space-y-4">
				<p class="w-full text-3xl font-title xl:w-full text-default-50 lg:text-default-900 lg:text-4xl">
					<span class="font-black text-secondary-400">G</span>estion locative.
				</p>
				<p class="w-full text-3xl font-title xl:w-full text-default-50 lg:text-default-900 lg:text-4xl">
					<span class="font-black text-secondary-400">V</span>alorisation de biens.
				</p>
				<p class="w-full text-3xl font-title xl:w-full text-default-50 lg:text-default-900 lg:text-4xl">
					<span class="font-black text-secondary-400">L</span>ocation à Strasbourg.
				</p>
			</div>

			{# Portrait image mobile #}
			<div class="relative left-28 lg:hidden">
				<img class="opacity-100 w-60" src="{{ asset('build/images/portrait/main.png') }}" alt="">
			</div>

		</div>

	</div>

	{# Shape #}
	<div class="absolute inset-x-0 bottom-0">
		<div class="text-default-100 dark:text-default-900 shape shape-bottom shape-fluid-x">
			{% include('partials/shapes/curves/right.html.twig') %}
		</div>
	</div>

</section>

<section class="py-4 bg-default-100 dark:bg-default-900 lg:py-8">
	<div
		class="max-w-screen-xl px-4 mx-auto">

		{# Cards #}
		<div class="grid grid-cols-2 lg:grid-cols-4">

			{{ include('components/_core-card.html.twig', {
                image: 'bi:house-gear',
                title: 'Gestion Locative',
                description: 'Gestion administrative, financière, technique, juridique et pratique de vos biens.',
                url: '#'
            }) }}

			{{ include('components/_core-card.html.twig', {
                image: 'bi:paint-bucket',
                title: 'Home Staging',
                description: 'Valorisation de votre bien pour une vente ou une location rapide.',
                url: '#'
            }) }}

			{{ include('components/_core-card.html.twig', {
                image: 'bi:house-heart',
                title: 'Co-Living',
                description: 'Vivre ensemble dans un espace partagé, convivial et solidaire.',
                url: '#'
            }) }}

			{{ include('components/_core-card.html.twig', {
                image: 'bi:house-down',
                title: 'Location',
                description: 'Mise en location de vos bien dans les meilleures conditions.',
                url: '#'
            }) }}

		</div>

	</div>
</section>

{# CTA contact #}
<div class="fixed bottom-0 left-0 right-0 z-50 block p-2 bg-primary-600 lg:hidden">
	<div class="mx-auto text-center">
		{{ include('components/_cta-rectangle.html.twig', {
            text: 'Contactez-moi',
			size: 'px-12 py-2'
        }) }}
	</div>
</div>
